$$$$$$$$$----EDA---------$$$$$$$$$

packages:-


eda:- [we will use only 4]
1. pandas : data frame analysis
2. numpy : numerical python/ number python
3. matplotlib : mta plot library , it is for library
4. seaborn: plot
5. plotly : plot
6. bokhe : plot


*****************

    ml package:-

7. scikit-learn : sk learn
    ml related

************************

    dl [deep learning] packages:

    [tensorflows and keras works together]

8. tensorflow [develop by google]

9. keras 

10. pytorch

11. cv : (computer vision)

******************************
NLP

12. NLTK
13. Scipy

******************Generative AI ***************

14. Chat gpt : openAI
15. makerSuit: google generative AI
16.Amazon Q

****************Hugging face transformer (BERT model )---------

17. Transformer


*******************other****************

random
math
os
sys
time

************************Azure ML *********************

azure package
GCP vertex AI
AWS sage maker

$ step -  1$
- import required package
- import pandas as pd
- import numpy as np
- import patplolib.pyplot as plt
- import seaborn as sns

$ step -2 $
- read the data
- visa data sets
  - file location
  - file name
  - file extension

In [2]:
import pandas as pd
file_path ="C:\\Users\\hp\\OneDrive\\Documents\\Fullstack DataScience Materials\\Data\\Invistico_Airline.csv"
pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\hp\\OneDrive\\Documents\\Fullstack DataScience Materials\\Data\\Invistico_Airline.csv'

In [3]:
import required package
import pandas as pd
import numpy as np
import matplolib.pyplot as plt
import seaborn as sns

SyntaxError: invalid syntax (1622625246.py, line 1)

In [ ]:
file_path ="C:\\Users\\hp\\OneDrive\\Documents\\Fullstack DataScience Materials\\Data\\Invistico_Airline.csv"
file=open(file_path,encoding="utf-8-sig")
print(file.read())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [ ]:
import pandas as pd
file_path ="C:\\Users\\hp\\OneDrive\\Documents\\Fullstack DataScience Materials\\Data\\Loan_Details_transactions.csv"
file=open(file_path,encoding="utf-8-sig")

pd.read_csv(file_path)

,Loan_Id,Disbursed_Amount,Asset_Cost,ltv,Branch_Id,City_Code,State_Code,Postal_Code,Date_of_Birth,Employment_Type,...,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,1,36439,65850,56.19,64,CT01,ST15,400001,14-06-1990,Self employed,...,1,1,0,0,0,0,0,0,0yrs 0mon,0
1,2,48749,69303,72.15,67,CT03,ST24,600020,01-01-1991,Salaried,...,1,1,0,0,0,0,783,0,2yrs 6mon,0
2,3,55348,66340,85.00,2,CT13,ST04,801110,16-08-1993,Self employed,...,1,1,0,0,0,0,0,0,0yrs 0mon,0
3,4,48849,64133,77.96,217,CT06,ST22,302029,01-01-1989,Self employed,...,1,1,0,0,0,0,0,0,0yrs 0mon,0
4,5,40394,59386,70.72,74,CT03,ST24,600020,31-12-1974,Self employed,...,1,1,0,0,0,0,14,1,3yrs 1mon,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23310,23311,123661,185371,69.59,34,CT03,ST24,600020,14-12-1982,Self employed,...,1,1,0,0,0,0,650,0,5yrs 10mon,1
23311,23312,78879,122878,65.11,5,CT15,ST20,751022,03-07-1993,Salaried,...,1,1,0,0,0,0,680,0,0yrs 9mon,0
23312,23313,49349,67695,73.86,48,CT22,ST14,453551,01-01-1994,Self employed,...,1,1,0,0,0,0,825,0,2yrs 3mon,0
23313,23314,70897,84400,86.00,2,CT03,ST24,600020,10-10-1982,Self employed,...,1,1,0,0,0,0,657,0,0yrs 6mon,2
23314,23315,58206,71372,85.00,34,CT09,ST34,110039,01-02-1976,Self employed,...,1,1,0,0,0,0,529,0,3yrs 11mon,0

In [ ]:
# step - 3 
#- create a dataframe using lists
import pandas as pd
list1 = ["ram","raheem","robert"]
list2= [30,40,50]

pd.DataFrame(zip(list1,list2))

        0   1
0     ram  30
1  raheem  40
2  robert  50

In [ ]:
import pandas as pd
list1 = ["ram","raheem","robert"]
list2= [30,40,50]

names=pd.DataFrame(zip(list1,list2),columns=["name","age"])

     name  age
0     ram   30
1  raheem   40
2  robert   50

In [ ]:
import pandas as pd
list1 = ["ram","raheem","robert"]
list2= [30,40,50]
cols=["name","age"]
names=pd.DataFrame(zip(list1,list2),columns=cols)

$ step - 4 $ 

- how to save the data frame in local

In [ ]:
# what is your data frame name : names
# where you want to save
# what name you want to provide
names.to_csv("C:\\Users\\hp\\OneDrive\\Documents\\Fullstack DataScience Materials\\Data\\NAMES.csv")

In [ ]:
import pandas as pd

names.to_csv("NAMES1.csv",index=False)

# it will not create extra column as index
# shift + tab give you hint for extra information

In [ ]:
names["city"]=["hyd","che","blr"]
print(names)
names

     name  age city
0     ram   30  hyd
1  raheem   40  che
2  robert   50  blr

     name  age city
0     ram   30  hyd
1  raheem   40  che
2  robert   50  blr

In [ ]:
names["id"]=[1,2,3,4]

#length will not match hence it will give length error

ValueError: Length of values (4) does not match length of index (3)

axis= 1 ====== columns
axis=0 ===========rows

inplace=True
# mean data will be overwrite

In [ ]:

names.drop("city",
           axis=1,
           inplace=True)
print(names)

KeyError: "['city'] not found in axis"

# creating dictionary

In [ ]:
import pandas as pd
dict1={"names":["ram","raheem","robert"],"age":[30,31,32]}
print(dict1)

{'names': ['ram', 'raheem', 'robert'], 'age': [30, 31, 32]}

In [ ]:
pd.DataFrame(dict1)

    names  age
0     ram   30
1  raheem   31
2  robert   32

In [ ]:
# key ---- become = columns
# values ------become = rows

In [ ]:
pd.DataFrame(dict1,index=["a","b","c"])

    names  age
a     ram   30
b  raheem   31
c  robert   32

In [ ]:
# you need able to create a dataframe