# Accessing the data from dataframe:-
- dataframeobj[index]
- dataframeObj[StartIndex:EndIndex]
- dataframeObj[StartIndex:]
- dataframeObj[:EndIndex]
- dataframeObj[StartIndex:EndIndex:stepIndex]
- dataframeObj.head()
- dataframeObj.tail()
- dataframeObj.iterrows()
- dataframeObj.head()
- dataframeObj.describe()
- dataframeObj.at()
- dataframeObj.iat()
- dataframeObj.iloc()
- dataframeObj.loc()

In [1]:
import pandas as pd
import numpy as np

In [2]:
# get the data from student.csv into dataframe
df= pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\student-dataset.csv")
print("="*50)
print(df)
print("="*50)

==================================================
      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]
==================================================

In [3]:
df.head()
# obtain the first five records / rows from datatframe

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

In [4]:
df.tail()
# obtain the last five records / rows from datatframe

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

In [5]:
df.head(3)
# to get the first three record

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4

In [6]:
df.describe()
# this function give the statistical summary of the dataframe

,id,latitude,longitude,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
count,307.000000,307.000000,307.000000,0.0,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,153.000000,32.863388,-64.539121,NaN,21.964169,3.369707,3.414332,3.446580,4.396417,3.986971,4.110749,4.188925
std,88.767487,13.498582,81.249146,NaN,1.248013,0.538724,0.476839,0.509081,0.996474,0.928749,0.823936,0.842193
min,0.000000,-33.450000,-123.130000,NaN,19.000000,1.500000,2.100000,1.400000,1.000000,1.000000,1.000000,1.000000
25%,76.500000,32.720000,-118.240000,NaN,21.000000,3.100000,3.100000,3.200000,4.000000,3.500000,4.000000,4.000000
50%,153.000000,34.390000,-99.140000,NaN,22.000000,3.500000,3.500000,3.600000,5.000000,4.000000,4.000000,4.000000
75%,229.500000,38.960000,-73.855000,NaN,23.000000,3.800000,3.800000,3.800000,5.000000,5.000000,5.000000,5.000000
max,306.000000,59.890000,139.750000,NaN,26.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
df.shape
# it will give you the row and column count of the dataframe

(307, 16)

In [8]:
# obtain the column
df.columns

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')

In [9]:
# obtain the row
df.shape[0]

307

In [10]:
# obtain the column
df.shape[1]

16

In [11]:
df.index

RangeIndex(start=0, stop=307, step=1)

In [12]:
df1=df[4:10:2]
df1

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
6,6,Joey Abreu,China,Shenyang,41.79,123.43,M,NaN,22,3.7,3.9,3.6,2.0,5,5.0,5
8,8,Lee Dong,Philippines,Manila,14.60,120.98,F,NaN,24,3.9,3.6,3.2,2.0,4,3.0,5

In [13]:
# to get the center of the dataframe
df[len(df)//2:len(df)//2+1]

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
153,153,Jenna Whitney,United States of America,San Diego,32.72,-117.16,F,NaN,23,3.7,2.9,3.9,5.0,3,4.0,5

In [14]:
# extract the data based on column name

In [ ]:
# get the names
df['name']

0              Kiana Lor
1         Joshua Lonaker
2          Dakota Blanco
3        Natasha Yarusso
4         Brooke Cazares
             ...
302          Austin Haas
303      Madison Fithian
304    Zachary Mulvahill
305     Eliana Michelsen
306      Dane Whittemore
Name: name, Length: 307, dtype: object

In [16]:
seriesObj=df['name']

In [17]:
print(seriesObj)

0              Kiana Lor
1         Joshua Lonaker
2          Dakota Blanco
3        Natasha Yarusso
4         Brooke Cazares
             ...
302          Austin Haas
303      Madison Fithian
304    Zachary Mulvahill
305     Eliana Michelsen
306      Dane Whittemore
Name: name, Length: 307, dtype: object

In [18]:
df[['name','age']]

                  name  age
0            Kiana Lor   22
1       Joshua Lonaker   22
2        Dakota Blanco   22
3      Natasha Yarusso   20
4       Brooke Cazares   21
..                 ...  ...
302        Austin Haas   20
303    Madison Fithian   20
304  Zachary Mulvahill   20
305   Eliana Michelsen   23
306    Dane Whittemore   21

[307 rows x 2 columns]

In [19]:
df['nationality']

0                         China
1      United States of America
2      United States of America
3      United States of America
4                        Brazil
                 ...
302    United States of America
303    United States of America
304    United States of America
305    United States of America
306                      Canada
Name: nationality, Length: 307, dtype: object

# get the column of desire
- syntax:-
    dataFrameObj[['colName1','colName2',...'colName-n']][startIndex:EndIndex:StepIndex]

In [20]:
for record in df.iterrows():
    print(record)

(0, id                            0
name                  Kiana Lor
nationality               China
city                     Suzhou
latitude                  31.31
longitude                120.62
gender                        F
ethnic.group                NaN
age                          22
english.grade               3.5
math.grade                  3.7
sciences.grade              3.1
language.grade              1.0
portfolio.rating              4
coverletter.rating          4.0
refletter.rating              4
Name: 0, dtype: object)
(1, id                                           1
name                            Joshua Lonaker
nationality           United States of America
city                             Santa Clarita
latitude                                 34.39
longitude                              -118.54
gender                                       M
ethnic.group                               NaN
age                                         22
english.grade                              2.9
math.grade                                 3.2
sciences.grade                             3.6
language.grade                             5.0
portfolio.rating                             5
coverletter.rating                         4.0
refletter.rating                             5
Name: 1, dtype: object)
(2, id                                           2
name                             Dakota Blanco
nationality           United States of America
city                                   Oakland
latitude                                  37.8
longitude                              -122.27
gender                                       F
ethnic.group                               NaN
age                                         22
english.grade                              3.9
math.grade                                 3.8
sciences.grade                             3.2
language.grade                             5.0
portfolio.rating                             3
coverletter.rating                         3.0
refletter.rating                             4
Name: 2, dtype: object)
(3, id                                           3
name                           Natasha Yarusso
nationality           United States of America
city                             Castro Valley
latitude                                 37.69
longitude                              -122.09
gender                                       F
ethnic.group                               NaN
age                                         20
english.grade                              3.3
math.grade                                 2.8
sciences.grade                             3.2
language.grade                             5.0
portfolio.rating                             5
coverletter.rating                         2.0
refletter.rating                             4
Name: 3, dtype: object)
(4, id                                      4
name                       Brooke Cazares
nationality                        Brazil
city                  São José dos Campos
latitude                           -23.18
longitude                          -45.88
gender                                  F
ethnic.group                          NaN
age                                    21
english.grade                         3.7
math.grade                            2.6
sciences.grade                        3.4
language.grade                        1.0
portfolio.rating                        4
coverletter.rating                    4.0
refletter.rating                        5
Name: 4, dtype: object)
(5, id                                           5
name                          Rochelle Johnson
nationality           United States of America
city                              Indianapolis
latitude                                 39.77
longitude                               -86.16
gender                                       F
ethnic.group                               NaN
age                                         21
english.grade                              3.4
math.grade                                 3.1
sciences.grade                             3.7
language.grade                             5.0
portfolio.rating                             2
coverletter.rating                         4.0
refletter.rating                             4
Name: 5, dtype: object)
(6, id                             6
name                  Joey Abreu
nationality                China
city                    Shenyang
latitude                   41.79
longitude                 123.43
gender                         M
ethnic.group                 NaN
age                           22
english.grade                3.7
math.grade                   3.9
sciences.grade               3.6
language.grade               2.0
portfolio.rating               5
coverletter.rating           5.0
refletter.rating               5
Name: 6, dtype: object)
(7, id                                 7
name                  Preston Suarez
nationality                   Brazil
city                       São Paulo
latitude                      -23.47
longitude                     -46.67
gender                             M
ethnic.group                     NaN
age                               22
english.grade                    3.8
math.grade                       3.7
sciences.grade                   3.6
language.grade                   2.0
portfolio.rating                   5
coverletter.rating               5.0
refletter.rating                   4
Name: 7, dtype: object)
(8, id                              8
name                     Lee Dong
nationality           Philippines
city                       Manila
latitude                     14.6
longitude                  120.98
gender                          F
ethnic.group                  NaN
age                            24
english.grade                 3.9
math.grade                    3.6
sciences.grade                3.2
language.grade                2.0
portfolio.rating                4
coverletter.rating            3.0
refletter.rating                5
Name: 8, dtype: object)
(9, id                                9
name                  Maa'iz al-Dia
nationality                  Turkey
city                       Istanbul
latitude                      41.02
longitude                     28.96
gender                            M
ethnic.group                    NaN
age                              22
english.grade                   2.4
math.grade                      2.8
sciences.grade                  3.8
language.grade                  3.0
portfolio.rating                  5
coverletter.rating              5.0
refletter.rating                  4
Name: 9, dtype: object)
(10, id                                          10
name                            Maja Nicholson
nationality           United States of America
city                                    Dallas
latitude                                 32.78
longitude                                -96.8
gender                                       F
ethnic.group                               NaN
age                                         23
english.grade                              3.4
math.grade                                 3.5
sciences.grade                             3.2
language.grade                             5.0
portfolio.rating                             4
coverletter.rating                         2.0
refletter.rating                             5
Name: 10, dtype: object)
(11, id                                          11
name                              Sasha Jansen
nationality           United States of America
city                                   Chicago
latitude                                 41.85
longitude                               -87.65
gender                                       F
ethnic.group                               NaN
age                                         21
english.grade                              1.7
math.grade                                 4.0
sciences.grade                             3.6
language.grade                             5.0
portfolio.rating                             4
coverletter.rating                         4.0
refletter.rating                             5
Name: 11, dtype: object)
(12, id                                          12
name                         Alexander Sherman
nationality           United States of America
city                                     Omaha
latitude                                 41.26
longitude                               -95.94
gender                                       M
ethnic.group                               NaN
age                                         20
english.grade                              3.8
math.grade                                 3.6
sciences.grade                             3.9
language.grade                             5.0
portfolio.rating                             4
coverletter.rating                         4.0
refletter.rating                             5
Name: 12, dtype: object)
(13, id                               13
name                  Edgar Sanchez
nationality                  Mexico
city                        Tijuana
latitude                      32.53
longitude                   -117.02
gender                            M
ethnic.group                    NaN
age                              23
english.grade                   3.7
math.grade                      3.5
sciences.grade                  4.0
language.grade                  4.0
portfolio.rating                  4
coverletter.rating              5.0
refletter.rating                  5
Name: 13, dtype: object)
(14, id                                          14
name                              Kolbi Strunk
nationality           United States of America
city                             Mission Viejo
latitude                                  33.6
longitude                              -117.67
gender                                       M
ethnic.group                               NaN
age                                         21
english.grade                              3.2
math.grade                                 3.9
sciences.grade                             3.3
language.grade                             5.0
portfolio.rating                             4
coverletter.rating                         3.0
refletter.rating                             4
Name: 14, dtype: object)
(15, id                               15
name                  Brittany Sath
nationality                   Japan
city                          Tokyo
latitude                      35.69
longitude                    139.75
gender                            F
ethnic.group                    NaN
age                              21
english.grade                   4.0
math.grade                      3.9
sciences.grade                  3.7
language.grade                  3.0
portfolio.rating                  5
coverletter.rating              3.0
refletter.rating                  5
Name: 15, dtype: object)
(16, id                                          16
name                              Meggan Smith
nationality           United States of America
city                               Los Angeles
latitude                                 34.05
longitude                              -118.24
gender                                       F
ethnic.group                               NaN
age                                         21
english.grade                              2.9
math.grade                                 3.4
sciences.grade                             3.6
language.grade                             5.0
portfolio.rating                             2
coverletter.rating                         5.0
refletter.rating                             4
Name: 16, dtype: object)
(17, id                                17
name                  Ericka Arreola
nationality                   Mexico
city                          Mexico
latitude                       19.43
longitude                     -99.14
gender                         other
ethnic.group                     NaN
age                               23
english.grade                    3.1
math.grade                       3.5
sciences.grade                   2.8
language.grade                   4.0
portfolio.rating                   4
coverletter.rating               3.0
refletter.rating                   4
Name: 17, dtype: object)
(18, id                            18
name                  David Pulc
nationality               Canada
city                     Toronto
latitude                   43.67
longitude                 -79.42
gender                         M
ethnic.group                 NaN
age                           24
english.grade                3.9
math.grade                   2.9
sciences.grade               4.0
language.grade               5.0
portfolio.rating               5
coverletter.rating           4.0
refletter.rating               2
Name: 18, dtype: object)
(19, id                                          19
name                               Kyle Luckey
nationality           United States of America
city                             Moreno Valley
latitude                                 33.94
longitude                              -117.23
gender                                       M
ethnic.group                               NaN
age                                         23
english.grade                              3.7
math.grade                                 3.9
sciences.grade                             3.4
language.grade                             5.0
portfolio.rating                             3
coverletter.rating                         4.0
refletter.rating                             4
Name: 19, dtype: object)
(20, id                            20
name                  Rojesh Her
nationality                Japan
city                       Tokyo
latitude                   35.69
longitude                 139.75
gender                         M
ethnic.group                 NaN
age                           22
english.grade                3.8
math.grade                   3.6
sciences.grade               3.6
language.grade               2.0
portfolio.rating               4
coverletter.rating           4.0
refletter.rating               3
Name: 20, dtype: object)
(21, id                             21
name                  David Weber
nationality                 China
city                       Peking
latitude                    39.93
longitude                  116.39
gender                          M
ethnic.group                  NaN
age                            20
english.grade                 3.9
math.grade                    3.9
sciences.grade                3.9
language.grade                2.0
portfolio.rating                3
coverletter.rating            4.0
refletter.rating                5
Name: 21, dtype: object)
(22, id                                          22
name                             Rachel Jambor
nationality           United States of America
city                                   Chicago
latitude                                 41.85
longitude                               -87.65
gender                                       F
ethnic.group                               NaN
age                                         22
english.grade                              3.6
math.grade                                 3.6
sciences.grade                             3.9
language.grade                             5.0
portfolio.rating                             3
coverletter.rating                         4.0
refletter.rating                             4
Name: 22, dtype: object)
(23, id                                    23
name                  Mus'ab al-Moustafa
nationality                     Pakistan
city                          Rawalpindi
latitude                            33.6
longitude                          73.07
gender                                 M
ethnic.group                         NaN
age                                   23
english.grade                        3.8
math.grade                           3.9
sciences.grade                       3.8
language.grade                       2.0
portfolio.rating                       2
coverletter.rating                   5.0
refletter.rating                       4
Name: 23, dtype: object)
(24, id                             24
name                  Sila Nguyen
nationality                 China
city                         Hebi
latitude                     35.9
longitude                  114.19
gender                          M
ethnic.group                  NaN
age                            23
english.grade                 2.8
math.grade                    3.5
sciences.grade                3.5
language.grade                4.0
portfolio.rating                5
coverletter.rating            4.0
refletter.rating                4
Name: 24, dtype: object)
(25, id                                          25
name                            Samantha Hicks
nationality           United States of America
city                             Santa Barbara
latitude                                 34.42
longitude                               -119.7
gender                                       F
ethnic.group                               NaN
age                                         22
english.grade                              3.7
math.grade                                 3.7
sciences.grade                             3.8
language.grade                             5.0
portfolio.rating                             3
coverletter.rating                         4.0
refletter.rating                             4
Name: 25, dtype: object)
(26, id                                          26
name                            Angela Harding
nationality           United States of America
city                                   Manteca
latitude                                  37.8
longitude                              -121.22
gender                                       F
ethnic.group                               NaN
age                                         22
english.grade                              3.1
math.grade                                 2.9
sciences.grade                             3.2
language.grade                             5.0
portfolio.rating                             3
coverletter.rating                         5.0
refletter.rating                             5
Name: 26, dtype: object)
(27, id                                          27
name                           Brandon Barbour
nationality           United States of America
city                                South Hill
latitude                                 47.14
longitude                              -122.27
gender                                       M
ethnic.group                               NaN
age                                         21
english.grade                              3.9
math.grade                                 3.7
sciences.grade                             3.3
language.grade                             5.0
portfolio.rating                             4
coverletter.rating                         5.0
refletter.rating                             5
Name: 27, dtype: object)
(28, id                                          28
name                              Reilly Wagar
nationality           United States of America
city                                   Modesto
latitude                                 37.64
longitude                               -121.0
gender                                       F
ethnic.group                               NaN
age                                         23
english.grade                              3.4
math.grade                                 3.2
sciences.grade                             3.7
language.grade                             5.0
portfolio.rating                             5

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB